div(class="footer-wrapper")
    //<footer role="contentinfo">
    // ----------- Footer ------------
    footer(class="footer-bs")
        div(class="row")
            div(class="col-md-3 footer-brand animated fadeInLeft")
                h3 EDB - eLearning Datenbank
                h5 Das eLearning Datenbank Portal der TH-Köln
                p © TH-Köln, Campus Gummersbach
            div(class="col-md-4 footer-nav animated fadeInUp")
                h4 Menu -
                div(class="col-md-6")
                    ul(class="pages")
                        li
                            a(href="/apps") Anwendungen
                        li
                            a(href="/construction") Neuigkeiten
                        li
                            a(href="http://wikis.gm.fh-koeln.de/wiki_db/" target="_blank") Wiki
                        li
                            a(href="/partnerships") Partnerschaften
                        //- li
                        //-     a(href="/construction") Forum
                        li
                            a(href="/feedback") Feedback
                div(class="col-md-6")
                    ul(class='list')
                        li
                            a(href="/impressum") Impressum
                        li
                            a(href="/datenschutz") Datenschutzhinweis
                        //- li
                        //-     a(href="/construction") Kontakt
            div(class="col-md-2 footer-social animated fadeInDown")
                h4 Follow Us
                ul
                    li
                        a(href="https://www.facebook.com/eLearningDatenbankPortal/", target="_blank") Facebook
                    //- li
                    //-     a(href="/construction") RSS
            //- div(class="col-md-3 footer-ns animated fadeInRight")
            //-     h4 Newsletter
            //-     p Hier können Sie sich für das Newsletter anmelden
            //-     p
            //-         div(class='input-group')
            //-             input(type="text" class="form-control" placeholder="E-Mail-Adresse...")
            //-             span(class='input-group-btn')
            //-                 button(class="btn btn-default" type="button")
            //-                     span(class="glyphicon glyphicon-envelope")
