extends layout


block content
    div(class="main-wrapper" role="main")

        div(class="container main-content-container")
            div.jumbotron
                center
                    h1 Das wars!
                br
                center
                    p(class="lead") Vielen Dank, dass Sie den 3NF-Trainer abgeschlossen haben!
                    form(
                        class=''
                        method='get'
                        action='/index'
                    )

                        input(type='hidden' name='step' value='checkFirstNfTask')
                        button(type='submit', class='btn btn-primary btn-lg') Zurück zum Start!